
/* __________________________________________________________________________________________ */
.is-hidden {display: none;}

#lelo {
  margin: 20vh 20vw;
}
#lelo button {
  display: inline-block;
  background: dodgerblue;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  color: white;
  opacity: 0.8;
  transition: opacity 0.1s;
}
#lelo button:hover {
  opacity: 1;
}

.result-pwd-request{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vw;
  font-size: 2rem;
}

.form-action {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  }
  .form-action a {
    margin-top: 20px;
    flex-basis: 100%;
    text-align: center;
    }

@media all and (min-width: 650px) {
  .form-action a {
    flex-basis: auto;
    margin-top: 0px;
    }
}
